body {
    font-size: 14px;
}.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.nav-links {
  display: none; /* hide menu on mobile */
  flex-direction: column;
}

.hamburger {
  display: block; /* show hamburger on mobile */
  cursor: pointer;
}
